.register-left{
    text-align: center;
    color: #fff;
    margin-top: -2%;
}


.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
    margin-left: 13%;
    width: 50%;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.title {
    font-size: 90px;
}

.card-body {
    color:black;
    margin: auto;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    background: url("../imgs/bg-main.jpg") no-repeat right center;
    background-size: cover; 
}

.main-card {
    margin-left: 24%;
    margin-top: 37%;
}

.main {
    background: white;
    padding-left: 5%;
    padding-top: 4%;
    width: 85%;
    padding-bottom: 4%;
    margin-left: 4%;
    margin-top: 11%;
}

.main_form {
    margin-top:4%;
    padding-right:7%;
}

.button{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 87%;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 6%;
}

.button-main {
    border-radius: 1.5rem;
    width: 89%;
    margin-top: 3%;
    margin-left: 6%;
}

h3 {
    margin-right: 6%;
}