

#map {
    height: 300px;
    width: 600px;
}


.navbar-nav.mr-auto {
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
}

#navbar {
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding-top: 11px;
    font-family: 'Montserrat', sans-serif;
  }

#github {
    width: 1.9%;
    opacity: 1 !important;
}

#linkedin {
    width: 1.9%;
}

.form-button {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 87%;
    font-weight: bold;
    margin-top: 5%;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* font-family: 'Montserrat', sans-serif; */