.wrapper {
    min-height: 100vh;
    position: relative;
    background: url("../imgs/bg-register.jpg") no-repeat right center;
    background-size: cover; 
}

.inner {
    position: absolute;
    top: 7%;
    left: 52%;
    width: 38%;
    background: url(../images/bg-inner.png) repeat;
    padding: 1%;
}

form {
    width: 100%;
    background: #fff; 
    border: 1px;
    padding: 15px;
    min-width: 100px;
    display: inline-block;
}

.navbar-wrapper {
    position:relative;
}

.navbar {
    position:absolute;
    top:0;
    z-index:10;
    background: rgb(0, 0, 0) !important; 
    width:100%;
}

.button {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 87%;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 6%;
}

.form-control {
    max-height: 75%;
}

.input-group-prepend {
    max-height: 75%;
}

.form-group {
    margin-bottom: -3px;
}

