<!doctype html>
<html>
<head>
</head>

<body>
    {% if "user_id" in session %}
      <a href="/logout">Logout</a>
      <br>
      <br>
    {% endif %}
    

  {% block content %} put your content here {% endblock %}
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/static/js/form_alerts.js"></script>
  <script src="http://unpkg.com/babel-standalone"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="static/js/text_input.jsx" type="text/jsx"></script>
</body>
</html>
