{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Change Emergency Contact </h1>
    <form action="/change-emergency-contact" method="POST" id="change_ec_form">
        Emergency Contact Name: <input type="text" name="ename" id="ename">
        <br>
        Emergency Contact Number: <input type="text" name="enum" id="enumber">
        <br>
        <input type="submit" name="submit">
    </form>
</div>

<a href="/default-form"> Click here to go back to default form</a>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/form_alerts.js"></script>

{% endblock %}