{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/default_form.css"/>

<div class="wrapper">

    <div class="row">
        <div class="col-sm-4 col-md-4 register-left">
            
            <div class="card text-center main-card">
                <div class="card-body">
                    <h5 class="card-title">Change Emergency Contact</h5>
                    <img src="static/imgs/sms.png" alt=""/><br>
                    <p class="card-text">
                    <ul>
                        <li>Should have first & last name</li>
                        <li>Phone number should have no spaces or symbols</li>
                    </ul>
                    </p>

                    <div>
                    <!-- EMERGENCY CONTACT CHANGE MODAL -->
                    <button type="button" class="btn btn-secondary button" data-toggle="modal" data-target="#change_econtact">Change Here</button>

                    <!-- EC CHANGE MODAL-->
                    <div class="modal fade right" id="change_econtact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-side mdoal-bottom-right" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="change_econtact">Change Emergency Contact</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="/change-emergency-contact" method="POST" id="change_econtact">
                                    <!-- EMERGENCY NAME -->
                                    <div class="form-group">
                                        <label for="ename" class="col-form-label">Emergency Contact Name:</label>
                                        <input type="text" class="form-control text-box" id="ename" name="ename">
                                    </div>

                                    <!-- EMERGENCY NUMBER -->
                                    <div class="form-group">
                                        <label for="enum" class="col-form-label">Emergency Number:</label>
                                        <input type="text" class="form-control text-box" id="enum" name="enum">
                                    </div>
                                </form>
                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary button" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button submit" class="btn btn-success button" id="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>

    <div class="col-sm-8 col-md-8 register-right">
        <div id="homepage"></div>

    </div>
</div>


<script src="static/js/text_input.jsx" type="text/jsx"></script>
<script src="static/js/main_form.jsx" type="text/jsx"></script>
<script src="static/js/form_alerts.js" type="text/javascript"></script>


{% endblock %}

