{% extends 'base.html' %}
{% block content %}

<h1><center> Let's Keep Each Other Safe </center></h1>

<p class="form"><center>

    <form action="/" method="POST">
        
            Full Name: 
            <br>
            <input type="text" name="name">
            <br>

        
            Phone Number:
            <br>
            <input type="text" name="number">
            <br>

        
            Emergency Contact Name:
            <br>
            <input type="text" name="e_name">
            <br>

        
            Emergency Contact Number:
            <br>
            <input type="text" name="e_number">
            <br>

        
            Activity:
            <br>
            <input type="text" name="activity">
            <br>

        
            Time to be checked on (Military Time):
            <br>
            HR:
            <select name="hours">
                {% for i in range(24) %}
                    <option value=" {{ i }} "> {{ i }}</option>
                {% endfor %}
            </select>
            MIN:
            <select name ="minutes">
                {% for i in range(60) %}
                    <option value=" {{ i }}"> {{ i }}</option>
                {% endfor %}
            </select>
            <br>

        <input type="submit" name="submit">
    </form>
</center>
</p>





{% endblock %}