{% extends 'base.html' %}
{% block content %}

<h1><center> Let's Keep Each Other Safe </h1>

<h5> <center>Enter your information here if you have registered before:</h5></center>
<p class="form"><center>


    <form action="/" method="POST">
        
            Enter Full Name: 
            <br>
            <input type="text" name="name">
            <br>

        
            Phone Number:
            <br>
            <input type="text" name="number">
            <br>

            <input type="submit" name="Submit">
    </form>
</p>

<p> <a href="/register-form">Click here to register!</a></p>
</center>



{% endblock %}