{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/register_form.css"/>


<div class="wrapper">
    <div class="inner">

        <form action="/new-user-success" method="POST" class="registerform">
        <center>
        <h3> Going Out? </h3>
        <h4>Enter Your Trip Information</h4>
        </center>
        <label for="name">Full Name</label>
        <div class="form-row">
            <div class="input-group form-group col">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                </div>
                
                <input type="text" class="form-control" id="name" placeholder="Jane Doe" name="name">
            </div>
        </div>
         <label for="number">Phone Number</label>
        <div class="form-row">
            <div class="input-group form-group col">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="text" class="form-control" id="number" placeholder="5103338888" name="number">
            </div>
        </div>
        <label for="ename">Emergency Contact Name</label>
        <div class="form-row">
            <div class="input-group form-group col">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                </div>
                <input type="text" class="form-control" id="ename" placeholder="John Doe" name="e_name">
            </div>
        </div>

        <label for="enumber">Emergency Contact Number</label>
        <div class="form-row">
            <div class="input-group form-group col">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="text" class="form-control" id="enumber" placeholder="4158189999" name="e_number">
            </div>
        </div>
        <label for="details">Activity (Short Phrase)</label>
        <div class="form-row">
            <div class="input-group form-group col">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fa fa-beer" aria-hidden="true"></i>
                    </span>
                </div>
                
                <input type="text" class="form-control" id="details" name="details" placeholder="walking to BART alone">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                HR:
                <select name="hours">
                    {% for i in range(24) %}
                        <option value=" {{ i }} "> {{ i }}</option>
                    {% endfor %}
                </select>
                MIN:
                <select name ="minutes">
                    {% for i in range(60) %}
                        <option value=" {{ i }}"> {{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-secondary button">Register</button>
        <a class="btn btn-secondary button" href="/" role="button">Back to Login</a>
        </form>
        </div>
    </div>
</div>

{% endblock %}


