{% extends 'base.html' %}
{% block content %}

    <h1> Welcome Back! </h1>

    <form action="/some-form" method="POST">

        <fieldset id="e_name">
        Emergency Contact Name:
        <br>
        <input type="radio" name="e_name" value="PREVIOUS ENTRY">PREVIOUS ENTRY
        <input type="radio" name="e_name" value="New Emergency Contact">New Emergency Contact <input type="text" name="e_name">
        <br>
        </fieldset>
    
        <fieldset id="e_number">
        Emergency Contact Number:
        <br>
        <input type="radio" name="e_number" value="PREVIOUS ENTRY">PREVIOUS ENTRY
        <input type="radio" name="e_number" value="New Emergency Contact Number">New Emergency Contact Number <input type="text" name="e_number">
        </fieldset>
        <br>

        <fieldset id="details">
        Activity:
        <br>
        <input type="radio" name="details" value="PREVIOUS ENTRY">PREVIOUS ENTRY
        <input type="radio" name="details" value="New Activity">New Activity<input type="text" name="details">
        </fieldset>
        <br>

        <fieldset id="time">
        Time to be checked on (Military Time):
        <br>

        <input type="radio" name="time" value="PREVIOUS ENTRY"> PREVIOUS ENTRY
        <input type="radio" name="time" value="New Time">
        HR:
        <select name="hours">
            {% for i in range(24) %}
                <option value=" {{ i }} "> {{ i }}</option>
            {% endfor %}
        </select>
        MIN:
        <select name ="minutes">
            {% for i in range(60) %}
                <option value=" {{ i }}"> {{ i }}</option>
            {% endfor %}
        </select>
        <br>
        </fieldset>

        <input type="submit" name="submit">
        </form>
        </center>



{% endblock %}